<article class="reset-password container content">
  <div class="row justify-content-center">

    <div class="col-12 col-md-8 col-lg-6">

      {% comment %}
        Login form
      {% endcomment %}
      <section class="mb-2">
        {% form 'reset_customer_password' %}

          {% comment %}
            Title
          {% endcomment %}
          <div class="text-center mb-4">
            <h1>{{ 'customer.reset_password.title' | t }}</h1>
            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
          </div>

          {% comment %}
            Validation errors
          {% endcomment %}
          {%- if form.errors -%}
            <div class="card bg-danger rounded-6 border-0 mb-3 pt-1 px-2">
              <div class="card-block text-white">
                {{ form.errors | default_errors }}
              </div>
            </div>
          {%- endif -%}

          {% comment %}
            Password
          {% endcomment %}
          <div class="form-group">
            <label for="ResetPassword" class="font-weight-bold{% if form.errors contains 'password' %} text-danger{% endif %}">
              {{ 'customer.reset_password.password' | t }}
            </label>
            <input type="password" value="" name="customer[password]" id="ResetPassword"
              class="form-control">
          </div>

          {% comment %}
            Password confirmation
          {% endcomment %}
          <div class="form-group">
            <label for="PasswordConfirmation" class="font-weight-bold{% if form.errors contains 'password_confirmation' %} text-danger{% endif %}">
              {{ 'customer.reset_password.password_confirm' | t }}
            </label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation"
              class="form-control">
          </div>

          {% comment %}
            Submit
          {% endcomment %}
          <div class="row">
            <div class="col-12 col-md-8 offset-0 offset-md-2 text-center">
              <input type="submit" value="{{ 'customer.reset_password.submit' | t }}" class="btn btn-block btn-lg btn-cta mt-4">
            </div>
          </div>

        {% endform %}
      </section>

    </div>
  </div>
</article>
