{% assign desktop_up = 'lg' %}
<div class="featured text-center pt-5">
  <div class="container">
    {% if section.settings.title != blank %}
    <h2 class="mb-5">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="row">
      {% for block in section.blocks %}
        {% if block.type != 'item' %}
          {% continue %}
        {% endif %}
        <div class="featured-item col-12 col-{{ desktop_up }}-4 d-flex flex-column justify-content-between pb-5" {{ block.shopify_attributes }}>
          <div class="embed-responsive embed-responsive-16by9 flex-grow-0 mb-5">
            <div class="embed-responsive-item bg-container-contain" style="background-image: url('{{ block.settings.image | img_url: '262px', scale: 2 }}')"></div>
          </div>
          <h3 class="flex-grow-0">{{ block.settings.title }}</h3>
          <p class="flex-grow-1">{{ block.settings.subtitle }}</p>
          <a class="flex-grow-0 btn btn-lg btn-primary" href="{{ block.settings.cta_url }}">{{ block.settings.cta_text }}</a>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for block in section.blocks %}
        {% if block.type != 'item-half' %}
          {% continue %}
        {% endif %}
        <div class="featured-item col-12 col-{{ desktop_up }}-6 d-flex flex-column justify-content-between pb-5" {{ block.shopify_attributes }}>
          <a href="{{ block.settings.cta_url }}">
          <div class="">
            <img src="{{ block.settings.image | img_url: '500px', scale: 2 }}" />
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banners",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item (Third)",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA URL"
        }
      ]
    },
	{
      "type": "item-half",
      "name": "Item (Half)",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banners",
      "category": "Homepage"
    }
  ]
}
{% endschema %}
