{% assign current_year = "now" | date: "%Y" %}

<footer>
  <div class="container">
    <div class="row">
      <div class="footer-leading col-12 col-lg-auto">
        <div class="d-flex justify-content-between footer-logo-wrapper">
          <div class="footer-image-wrapper">
            <img src="{{ 'logo-abs-left-reversed.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <a href="#" class="d-lg-none">
            <img src="{{ 'icon-mail-white.svg' | asset_url }}" alt="" class="icon">
          </a>
        </div>

        <a href="mailto:sales@arnoldsboatshop.com.au" class="d-none d-lg-flex footer-mail-link">
          <span class="footer-mail-icon mr-3">{% include 'icon-envelope' %}</span>
          <strong class="text-white">Email Us</strong>
        </a>

        <div class="d-flex mb-3">
          <span class="footer-trophy-icon">{% include 'icon-star' %}</span>
          <div class="footer-trophy-wrapper">
            <strong>{{ settings.ratings_bold }}</strong>
            <span>{{ settings.ratings_regular }}</span>
          </div>
        </div>
        <small class="d-none d-lg-block footer-copyright">{{ 'footer.copyright_message' | t: shop_name: shop.name, current_year: current_year }}</small>
      </div>

      <div class="footer-department-and-information col">
        <div class="row flex-lg-nowrap no-gutters">
          <div class="footer-department col-12 col-lg-8">
            {%- assign title = section.settings.departments_title -%}
            {%- assign content_mobile = '' -%}
            {%- assign content_desktop_col1 = '' -%}
            {%- assign content_desktop_col2 = '' -%}
            {%- if section.settings.departments_menu != blank -%}
              {% assign departments_menu = linklists[section.settings.departments_menu] %}
              {% assign halfway_there = departments_menu.links | size | divided_by: 2 %}
              {%- for link in departments_menu.links -%}
                {%- capture link_html -%}
                  <a href="{{ link.url }}">{{ link.title }}</a>
                {%- endcapture -%}
                {% assign content_mobile = content_mobile | append: link_html %}
                {% if forloop.index <= halfway_there %}
                  {% assign content_desktop_col1 = content_desktop_col1 | append: link_html %}
                {%- else -%}
                  {% assign content_desktop_col2 = content_desktop_col2 | append: link_html %}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
            <div class="d-block d-lg-none">
              {% render 'accordion',
                id: 'footer-leading',
                title: title,
                content: content_mobile,
                label_class: 'footer-accordion-label',
                body_class: 'footer-accordion-body' %}
            </div>

            <div class="d-none d-lg-block">
              <h5 class="px-2 footer-title">{{ title }}</h5>
              <div class="row no-gutters">
                <div class="col-6">
                  <div class="px-2 d-flex flex-column">
                    {{ content_desktop_col1 }}
                  </div>
                </div>
                <div class="col-6">
                  <div class="px-2 d-flex flex-column">
                    {{ content_desktop_col2 }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer-information col-12 col-lg-4">
            {%- assign title = section.settings.information_title -%}
            {%- capture content -%}
              {%- if section.settings.information_menu != blank -%}
                {%- for link in linklists[section.settings.information_menu].links -%}
                  <a href="{{ link.url }}">{{ link.title }}</a>
                {%- endfor -%}
              {%- endif -%}
            {%- endcapture -%}
            <div class="d-block d-lg-none">
              {% render 'accordion',
                id: 'footer-information',
                title: title,
                content: content,
                label_class: 'footer-accordion-label',
                body_class: 'footer-accordion-body' %}
            </div>

            <div class="d-none d-lg-flex flex-column">
              <h5 class="footer-title">{{ title }}</h5>
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      <div class="footer-connect col-12 col-lg-3">
        <h5 class="footer-title">Connect</h5>
        <p class="footer-signup-text" style="color:#93a1c5;">Sign up for news and special offers</p>

        <form class="footer-signup-form" action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST">
          <input type="hidden" name="g" value="{{ settings.klaviyo_list_id }}">
          <div class="input-group">
            <input type="email" name="email" class="form-control" placeholder="Enter your email"
                   aria-label="Enter email address" aria-describedby="signup-button">
            <div class="input-group-append">
              <button class="btn btn-block" id="signup-button">
                {% include 'icon-send' %}
              </button>
            </div>
          </div>
        </form>

        <small class="d-lg-none d-block mb-3">{{ 'footer.copyright_message' | t: shop_name: shop.name, current_year: current_year }}</small>

        <div class="footer-social-icons pt-lg-3">
          {%- assign payment_icons = 'visa|mastercard|amex|paypal|afterpay|deposit' | split: '|'  -%}
          {%- for icon in payment_icons -%}
            {%- assign setting_key = 'show_' | append: icon -%}
            {%- if settings[setting_key] -%}
              <span class="footer-social-icon">
                <img src="{{ 'icon-payment-' | append: icon | append: '.svg' | asset_url }}" alt="{{ icon }}">
              </span>
            {%- endif -%}
          {%- endfor -%}
          <a><img src="https://static.zipmoney.com.au/assets/default/footer-tile/footer-tile-new.png" style="height:20px;width:34px;margin-top:-1px;"></a>
        </div>
      </div>
    </div>
  </div>

</footer>

{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "settings": [
    {
      "type": "header",
      "content": "Departments"
    },
    {
      "type": "text",
      "id": "departments_title",
      "label": "Heading",
      "default": "Departments"
    },
    {
      "id": "departments_menu",
      "type": "link_list",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Information"
    },
    {
      "type": "text",
      "id": "information_title",
      "label": "Heading",
      "default": "Information"
    },
    {
      "id": "information_menu",
      "type": "link_list",
      "label": "Menu"
    }
  ]
}
{% endschema %}

{% javascript %}
(window.webpackJsonp=window.webpackJsonp||[]).push([[6],[],[[226,0,1]]]);
{% endjavascript %}